# Project 2019 for Programming for Data Analysis

# ABC Analysis
https://en.wikipedia.org/wiki/ABC_analysis

### Variables
1. Part #
2. Cost Price
3. Annual Consumption
4. ABC Analysis

### Distribution of ABC class - Pareto Distribution
ABC class	Number of item	Total amount required
A   20％	60％
B	20％	20％
C	60％	20％
Total	100％	100％

#### Tasks
1. Use NumPy Random Randint or similar Function to generate random part numbers
2. Use NumPy Distributions Function to simulate cost prices
3. Use NumPy Pareto Distributions Function to annual usage
4. Assign ABC value based on formula

### Import Libraries

In [6]:
# import pandas and numpy  
import pandas as pd  
import numpy as np

### Simulate List of Part Numbers
Part numbers can be classified as categorical data. 

Typically, any data attribute which is categorical in nature represents discrete values which belong to a specific finite set of categories or classes. These are also often known as classes or labels in the context of attributes or variables which are to be predicted by a model (popularly known as response variables). These discrete values can be text or numeric in nature (or even unstructured data like images!). There are two major classes of categorical data, nominal and ordinal.
In any nominal categorical data attribute, there is no concept of ordering amongst the values of that attribute. Consider a simple example of weather categories, as depicted in the following figure. We can see that we have six major classes or categories in this particular scenario without any concept or notion of order (windy doesn’t always occur before sunny nor is it smaller or bigger than sunny). Sarkar, 2018

In [21]:
# Use NumPy Random Randint Function to generate 200 random part numbers

# 5 Digit Part Numbers with ID # in range of 10000 to 99999
low, high, size = (10000 , 99999 , 200) # Define parameters for numpy.random.randint() function

# Create a Pandas Dataframe - # solution adapted from https://stackoverflow.com/a/23671779
# Create 2D array of 200 sets of 5 numbers

df1 = pd.DataFrame(np.random.randint(low, high, size), columns=['parts'])
df1

     parts
0    88921
1    99171
2    84793
3    91084
4    69758
5    79923
6    56228
7    13144
8    49355
9    51294
10   99831
11   79155
12   32144
13   45957
14   78990
15   86110
16   82385
17   31942
18   70713
19   28304
20   50079
21   16618
22   15880
23   99609
24   21849
25   57590
26   45979
27   32825
28   98845
29   62720
..     ...
170  73530
171  49652
172  51647
173  73981
174  81681
175  44579
176  67221
177  36288
178  12702
179  78579
180  29561
181  35751
182  99793
183  20401
184  97628
185  22574
186  65722
187  38746
188  62840
189  94564
190  13714
191  46971
192  73273
193  85611
194  77617
195  10356
196  48391
197  47036
198  71381
199  24145

[200 rows x 1 columns]

### Simulate Cost Price
Investigate the types of variables involved, their likely distributions, and their
relationships with each other.

In [22]:
# Generate 200 random integers taken from a specified range in a discrete uniform distribution.
# adapted from https://www.geeksforgeeks.org/python-randint-function/

# Define parameters for the function.
min, max, size = (10 , 9999 , 200) # Define parameters for numpy.random.randint() function

# create a pandas dataframe called price, which contains an array of 200 random integers between 10 and 9999.
# solution adapted from https://stackoverflow.com/a/23671779
df2 = pd.DataFrame(np.random.randint(min, max, size), columns=['price'])
df2

     price
0     5880
1      287
2      202
3     9565
4     5317
5     8974
6     6889
7     8374
8     6237
9     3841
10    3730
11    5590
12    7128
13    1271
14     572
15    4767
16    7683
17    2306
18    3896
19    8404
20    1467
21    7318
22    5485
23    9849
24    9043
25    5130
26    2770
27    4132
28    1657
29    1585
..     ...
170   4640
171   7173
172   2598
173    307
174   6299
175   1864
176   1694
177   7673
178   5311
179   8874
180   6847
181   2435
182   3477
183   5654
184   6945
185   4611
186   9157
187   5243
188   6707
189   8419
190    299
191   9545
192   8862
193   2586
194   7256
195   8569
196   3995
197   1098
198   4721
199   5325

[200 rows x 1 columns]

### Simulate Sales Data

In [18]:
# Generate 200 random values uniformly distributed between 100 and 99999 to to simulate annual sales
# https://www.geo.fu-berlin.de/en/v/soga/Basics-of-statistics/Continous-Random-Variables/Continuous-Uniform-Distribution/Continuous-Uniform-Distribution-in-R/index.html

# Define paramters for the function
a = 100 # a is the minimum
b = 99999 # b is the maximum
size = 200 # size is the number of samples

# create a dataframe called sales, which contains an array of 200 random floating point numbers between 100 and 99999.
# Solution adapted from https://stackoverflow.com/a/23671779
df3 = pd.DataFrame(np.random.uniform(a, b, size), columns=['sales'])

            sales
0     9816.317596
1    60807.319227
2    17425.295710
3    82715.290295
4     4345.580754
5    10489.677143
6    38635.049018
7    78674.652657
8    56428.024831
9    35903.844897
10   85227.525048
11   70245.230490
12    6091.999581
13   32607.041619
14   69618.140730
15   74643.441390
16    9289.791653
17   95565.947018
18   96844.192295
19   29233.434339
20   16538.651034
21   80706.520323
22   61819.023937
23   84891.201801
24    9944.730937
25   87285.236304
26   49204.114171
27   48504.793205
28     675.048211
29   39484.183712
..            ...
170  61136.081938
171  81454.932698
172  31031.746481
173  77651.067417
174  89485.545506
175  27536.458692
176  95337.718396
177  29630.353781
178  27548.943732
179  53519.677080
180  69365.238399
181   7747.346750
182   9033.692017
183  19178.474595
184   4560.847327
185  62503.876920
186   6571.783528
187  96646.895317
188  30387.217238
189  13772.504307
190  89681.107520
191  13356.611338
192  97743.336221
193  19370.770814
194  72121.732148
195  31060.374381
196  43783.994455
197  30024.938006
198  83543.732835
199   6237.559553

[200 rows x 1 columns]

### Join Dataframes

In [23]:
# Join the dataframes index are the name on which to perform the join operations
# https://stackoverflow.com/a/23671779
df = df1.join(df2)
df = df.join(df3)
df

     parts  price         sales
0    88921   5880  54650.114349
1    99171    287  71022.920617
2    84793    202  81445.348551
3    91084   9565  96683.902919
4    69758   5317  26897.019983
5    79923   8974  56184.593733
6    56228   6889  72746.921888
7    13144   8374  61074.090804
8    49355   6237  64464.977663
9    51294   3841  98247.315354
10   99831   3730   5149.299630
11   79155   5590  39299.826680
12   32144   7128  69573.634654
13   45957   1271  23655.677002
14   78990    572  25579.428390
15   86110   4767  52212.999095
16   82385   7683  58601.684661
17   31942   2306  17368.192795
18   70713   3896   8130.574209
19   28304   8404  99398.516071
20   50079   1467  28949.309052
21   16618   7318  37732.175811
22   15880   5485  16035.994440
23   99609   9849  69162.995883
24   21849   9043  15776.064811
25   57590   5130  63906.958532
26   45979   2770  16368.113411
27   32825   4132  91288.208588
28   98845   1657   1375.274765
29   62720   1585  79182.664974
..     ...    ...           ...
170  73530   4640  79738.042782
171  49652   7173   1048.359307
172  51647   2598  76576.782013
173  73981    307  54871.546649
174  81681   6299  86311.422671
175  44579   1864  18703.374615
176  67221   1694  53111.920874
177  36288   7673  72889.928445
178  12702   5311  64722.060343
179  78579   8874  34977.021550
180  29561   6847  69763.697054
181  35751   2435  35063.533432
182  99793   3477  22667.469504
183  20401   5654  54933.292689
184  97628   6945  53523.199709
185  22574   4611  20518.440998
186  65722   9157  66278.273110
187  38746   5243  45443.704530
188  62840   6707  36470.406969
189  94564   8419  44591.596355
190  13714    299  94754.274346
191  46971   9545  71734.423029
192  73273   8862  68344.093816
193  85611   2586  90118.496921
194  77617   7256  64233.794870
195  10356   8569  69085.308916
196  48391   3995  43204.315654
197  47036   1098  92085.699426
198  71381   4721  90735.041661
199  24145   5325  56752.731019

[200 rows x 3 columns]

#### 4. ABC 
The ABC concept is based on Pareto's law.[9] If too much inventory is kept, the ABC analysis can be performed on a sample. After obtaining the random sample, the following steps are carried out for the ABC analysis.

Step 1: Compute the annual usage value for every item in the sample by multiplying the annual requirements by the cost per unit.
Step 2: Arrange the items in descending order of the usage value calculated above.
Step 3: Make a cumulative total of the number of items and the usage value.
Step 4: Convert the cumulative total of the number of items and usage values into a percentage of their grand totals.
Step 5: Draw a graph connecting cumulative % items and cumulative % usage value. The graph is divided approximately into three segments, where the curve sharply changes its shape. This indicates the three segments A, B and C.

## 5. References 
1. Wikipedia (2019) *ABC analysis* [Online] Available at: https://en.wikipedia.org/wiki/ABC_analysis [Accessed 13 November 2019].
1. Sarkar, D (2018) *Categorical Data* [Online] Available at: https://towardsdatascience.com/understanding-feature-engineering-part-2-categorical-data-f54324193e63 [Accessed 21 November 2019].